@font-face {
    font-family: 'Subtlecurves';
    src: url('../src/assets/fonts/SubtleCurves.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Anton';
    src: url('../src/assets/fonts/AntonRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


  html{
    scroll-behavior:smooth;
    -webkit-tap-highlight-color: transparent;
  }

  *:focus {
    scroll-margin: 50px;
  }

  #app {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }
  
  body{
    overflow-x: hidden;
  }

  @media screen and (max-width: 767px) {
    /* définition de la couleur de fond pour la barre de navigation */


    body {

      /* a  modifier et a appliquer seulement quand menuIsActived*/
      background-color: #1c1c1cf9;
      padding-top: env(safe-area-inset-top);


      /* pour supprimer la scroll bar*/
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
      overflow: -moz-scrollbars-none;  /* Firefox */


    }
  
    /* masquage de la barre de navigation */
    body::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: env(safe-area-inset-top);
      background: #f5ebdc;
    }

  }

  
  /* Masquer la scrollbar verticale pour Chrome, Safari et Opera */
  ::-webkit-scrollbar {
    display: none;
  }
  
  
  h1{
    user-select: none;
    font-family: 'Subtlecurves';
    color: white
  }

  h2{
    user-select: none;
    font-family: 'Anton';
    font-size: 1em;
    color: white
  }

  html{
    background-color: #f5ebdc;
  }


  #public{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 40px;
    background-color: #f5ebdc;
}

.navMobile{
  display: none;
}

@media screen and (max-width: 650px){

.navbar{
    display: none;
}

.navMobile{
  display: block;
}

#public{

}


}